<h1>Registration</h1>

<p id="notice"><%= notice %></p>

<h2>Fill the form</h2>

<%= form_for(@user) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'Sign up' %>
    </div>
<% end %>