<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= image_tag('logo.png', class: "logo") %>
      <a class="navbar-brand">Novitskyi-Blog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= link_to 'Home', root_path, :class => "btn btn-default navbar-btn" %>
      </ul>

      <form class="navbar-form navbar-left" role="search">
        <%= form_tag posts_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search" %>
              <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
            </p>
        <% end %>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
            <%= link_to 'Registration', registration_path, :class => "btn btn-default navbar-btn" %>
            <%= link_to 'Login', sessions_login_path, :class => "btn btn-default navbar-btn"%>
        <% end %>
        <h4 class="navbar-text"><%=  current_user.name  if current_user %></h4>
        <%= link_to 'Logout', sessions_loguot_path, :class => "btn btn-default navbar-btn" if current_user %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>