<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= image_tag('logo.png', width: 50) %>
<%= link_to 'Home', root_path %>
<% if !current_user %>
    <%= link_to 'Registration', registration_path %>
    <%= link_to 'Login', sessions_login_path %>
<% end %>

<%= link_to 'Logout', sessions_loguot_path if current_user %>
<h3><%= current_user.name if current_user %></h3>
<%= yield %>

</body>
</html>
