<!DOCTYPE html>
<html>
<head>
  <title>NewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type='text/javascript'>
      function popBox() {
          alert('Hello from GEEKHUB!!!');
      }
  </script>
</head>
<body>

<%= render 'layouts/menu' %>

<%= yield %>


<% if cookies[:views].to_i % 10 == 0 %>
    <script type='text/javascript'>popBox()</script>
<% end %>

</body>
</html>
